*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(206, 206, 206);
    display: flex;
    padding: 5px;
    margin: 0;
}

.center{
    text-align: center;
    flex: 1;
    margin-top: 10px;
}


h1{
    font-family: 'Street - Upper', sans-serif;
}


.left {
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
}

button.login{
    margin-bottom: 20px;
    margin-top: 15px;
    margin-right: 20px;
    width: 110px;
    height: 30px;
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
}

.login::after{
    margin-bottom: 20px;
    margin-top: 15px;
    margin-right: 20px;
    width: 110px;
    height: 30px;
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
}

aside{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

h2{
    margin-left: 4px;
    font-family: 'Street - Upper Reverse', sans-serif;
    margin-bottom: 20px;
    color: aliceblue;
}

nav flex-column{
    width: 100%;
    padding: 1rem;
}

.nav-link-l{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-link-c{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-link-r{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    margin-left: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

main{
    text-align: center;
    margin-top: 20px;
}

h3{
    background-color: rgb(255, 255, 255);
    font-family: 'Street - Upper', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 20px;
    margin-top: 60px;
    font-size: xx-large;
}

p{
    font-family: 'Street - Expanded Semi', sans-serif;
    color: rgb(0, 0, 255);
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.descricao{
    color: rgb(32, 32, 32);
    font-size: large;
    margin: 10px;
    font-family: 'Street - Expanded Semi', sans-serif;
    margin-top: 40px;
}

button{
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 8px;
    background-color: blue;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 200px;
    text-align: center;
    transition: 1s;
}

.buy:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 8px;
    background-color: rgb(30, 255, 0);
    box-shadow: 0 0 30px 5px;
    letter-spacing: 10px;
    font-size: 1.3rem;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 200px;
    text-align: center;
}

.buy:active{
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 8px;
    background-color: rgb(30, 255, 0);
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 200px;
    text-align: center;
}

.kawaz{
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
}

.crico{
    text-align: center;
}

footer{
    background-color: rgb(179, 179, 179);
    text-align: center;
    display: flex;
    flex-direction: column;
}

h4{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.maroto{
    margin: auto;
}

.foot{
    color: black;
    font-size: medium;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}